* {
	box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
  margin: 0px;
}

.container{
    width: 86%;
}

button{
  cursor: pointer;
}

ul li{
  list-style: none;
}

li{
  cursor: pointer;
}